<!-- 네비게이션바 -->
<head>
    <style>
        ul {
           padding: 0; 
        }
        li{ display: inline}
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand lyc-font" href="{% url 'first_site:index' %}">
            <img src="/static/home-icon.png" alt="cant loading the image" width="50" height="50" class="d-inline-block align-text-middle">
            Home
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link lyc-font" href="{% url 'first_site:intro' %}">intro.</a>
                </li>
                <li class="nav-item lyc-font">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (log out)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">log in</a>
                    {% endif %}
                </li>
                <li class="lyc-font">
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:signup' %}">sign in</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <p class="nav-link lyc-font-s">로그인 시간 : {{user.last_login}}</p>
                </li>
            </ul>
        </div>
    </div>
</nav>